* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  text-align: center;
  box-sizing: border-box;
}
body,
html {
  background-color: var(--bg-main);
  height: 100vh;
  overflow: hidden;
}
/* home */
.container {
  position: absolute;
  top: 12vh;
  display: flex;
  flex-direction: row;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100vw;
  height: 88vh;
  scroll-behavior: smooth;
}
.empty-placeholder {
  grid-column: 1 / -1;
  text-align: center;
  color: #6b7280; /* muted gray */
  font-style: italic;
  padding: 1rem;
  font-size: 1rem;
}

.home,
.income,
.expenses {
  width: 100vw;
  height: 88vh;
  overflow-y: auto;
  scroll-snap-align: start;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--bg-main);
  font-size: 2rem;
}
.home .add {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
  padding: 1%;
  font-size: 1.5rem;
  height: 15%;
  background: linear-gradient(135deg, var(--bg-button), var(--bg-button-hover));
}
button {
  background-color: var(--bg-button);
  color: white;
  border-radius: 1.5rem;
  border: none;
  font-size: 1rem;
}
